#wb_header { background: transparent none repeat scroll left top; height: 100px; }
#wb_header { height: 100px; }
#wb_main { background: transparent none repeat scroll left top; height: 1160px; padding: 0 0 120px 0; }
#wb_main { height: 1280px; }
#wb_footer { background: #ededed none repeat scroll left top; height: 80px; }
#wb_footer { height: 80px; }
body { background: transparent url("../gallery_gen/d88b925b8a285986ee53265881768a41.jpg") no-repeat fixed left top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 2650px; }
.root { width: 992px; height: 2650px; overflow: visible; }
#wb_element_instance0 { left: 10px; top: 40px; min-width: 480px; width: 480px; min-height: 60px; height: 60px; display: block; z-index: 108; }
#wb_element_instance1 { left: 0px; top: 40px; min-width: 430px; width: 430px; min-height: 60px; height: 60px; display: block; z-index: 39; }
#wb_element_instance1 > div { width: 430px; height: 60px; background: #000000; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance2 { left: 0px; top: 0px; min-width: 970px; width: 970px; min-height: 60px; height: 60px; display: block; z-index: 107; }
#wb_element_instance3 { left: 50px; top: -130px; min-width: 900px; width: 900px; min-height: 700px; height: 700px; display: block; z-index: 66; }
#wb_element_instance3 img { width: 900px; height: 700px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance4 { left: 0px; top: 400px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; z-index: 71; }
#wb_element_instance4 > div { width: 350px; height: 130px; background: #ff00ff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance5 { left: 320px; top: 400px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; z-index: 72; }
#wb_element_instance5 > div { width: 350px; height: 130px; background: #aa00ff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance6 { left: 670px; top: 400px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 75; }
#wb_element_instance6 > div { width: 320px; height: 130px; background: #4d00ff; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance7 { left: 430px; top: 440px; min-width: 290px; width: 290px; min-height: 32px; height: 32px; display: block; z-index: 78; }
#wb_element_instance8 { left: 720px; top: 440px; min-width: 230px; width: 230px; min-height: 32px; height: 32px; display: block; z-index: 79; }
#wb_element_instance9 { left: 670px; top: 530px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 77; }
#wb_element_instance9 > div { width: 320px; height: 130px; background: #3c00c7; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance10 { left: 670px; top: 660px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 80; }
#wb_element_instance10 > div { width: 320px; height: 130px; background: #260080; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance11 { left: 670px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 81; }
#wb_element_instance11 > div { width: 320px; height: 130px; background: #3c00c7; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance12 { left: 670px; top: 920px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 82; }
#wb_element_instance12 > div { width: 320px; height: 130px; background: #260080; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance13 { left: 680px; top: 670px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; z-index: 83; }
#wb_element_instance13 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance14 { left: 820px; top: 710px; min-width: 150px; width: 150px; min-height: 24px; height: 24px; display: block; z-index: 84; }
#wb_element_instance15 { left: 670px; top: 660px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 85; }
#wb_element_instance15 .wb_button span { padding: 64px 0px 0px 0px; }
#wb_element_instance15 .wb_button { width: 320px; height: 130px; }
#wb_element_instance15 .wb_button { font-family: Helvetica,Arial,sans-serif; font-size: 14px; text-align: center; border: 1px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: transparent none repeat scroll left top; }
#wb_element_instance15 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance15 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance16 { left: 680px; top: 800px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; z-index: 86; }
#wb_element_instance16 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance17 { left: 820px; top: 840px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 87; }
#wb_element_instance18 { left: 680px; top: 540px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; z-index: 88; }
#wb_element_instance18 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance19 { left: 820px; top: 550px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 89; }
#wb_element_instance20 { left: 800px; top: 580px; min-width: 180px; width: 180px; min-height: 70px; height: 70px; display: block; z-index: 90; }
#wb_element_instance20 img { width: 180px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance21 { left: 670px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 91; }
#wb_element_instance21 .wb_button span { padding: 64px 0px 0px 0px; }
#wb_element_instance21 .wb_button { width: 320px; height: 130px; }
#wb_element_instance21 .wb_button { font-family: Helvetica,Arial,sans-serif; font-size: 14px; text-align: center; border: 1px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: transparent none repeat scroll left top; }
#wb_element_instance21 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance21 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance22 { left: 670px; top: 530px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 92; }
#wb_element_instance22 .wb_button span { padding: 64px 0px 0px 0px; }
#wb_element_instance22 .wb_button { width: 320px; height: 130px; }
#wb_element_instance22 .wb_button { font-family: Helvetica,Arial,sans-serif; font-size: 14px; text-align: center; border: 1px solid #cccccc; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: transparent none repeat scroll left top; }
#wb_element_instance22 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance22 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #E6E6E6 none repeat scroll left top; }
#wb_element_instance23 { left: 670px; top: 930px; min-width: 320px; width: 320px; min-height: 110px; height: 110px; display: block; z-index: 93; }
#wb_element_instance23 img { width: 320px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance24 { left: 320px; top: 530px; min-width: 350px; width: 350px; min-height: 520px; height: 520px; display: block; z-index: 94; }
#wb_element_instance24 { background: #000000; }
#wb_element_instance25 { left: 10px; top: 410px; min-width: 280px; width: 280px; min-height: 100px; height: 100px; display: block; z-index: 95; }
#wb_element_instance25 img { width: 280px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance26 { left: 0px; top: 530px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; z-index: 74; }
#wb_element_instance26 > div { width: 350px; height: 130px; background: #d102d1; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance27 { left: 0px; top: 660px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; z-index: 76; }
#wb_element_instance27 > div { width: 350px; height: 130px; background: #8f008f; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance28 { left: 0px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 96; }
#wb_element_instance28 > div { width: 320px; height: 130px; background: #d102d1; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance29 { left: 0px; top: 920px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 97; }
#wb_element_instance29 > div { width: 320px; height: 130px; background: #8f008f; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance30 { left: 10px; top: 930px; min-width: 310px; width: 310px; min-height: 96px; height: 96px; display: block; z-index: 98; }
#wb_element_instance31 { left: 190px; top: 920px; min-width: 130px; width: 130px; min-height: 90px; height: 90px; display: block; z-index: 99; }
#wb_element_instance31 img { width: 130px; height: 90px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance32 { left: 10px; top: 800px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; z-index: 100; }
#wb_element_instance33 { left: 10px; top: 660px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; z-index: 101; }
#wb_element_instance34 { left: 10px; top: 540px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; z-index: 103; }
#wb_element_instance35 { left: 0px; top: 1050px; min-width: 990px; width: 990px; min-height: 110px; height: 110px; display: block; z-index: 104; }
#wb_element_instance35 > div { width: 990px; height: 110px; background: #c22b4b; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance36 { left: 10px; top: 1060px; min-width: 800px; width: 800px; min-height: 72px; height: 72px; display: block; z-index: 105; }
#wb_element_instance37 { left: 0px; top: 20px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; z-index: 106; }
#wb_element_instance37 > div { width: 990px; height: 50px; background: #9c029c; border: 0px solid #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance38 { left: 890px; top: 1140px; min-width: 100px; width: 100px; min-height: 20px; height: 20px; display: block; z-index: 108; }
#wb_element_instance39 { left: 0px; top: 1180px; display: block; z-index: 9000; }

@media (min-width: 768px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1280px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 992px; min-height: 1460px; }
	.root { width: 992px; height: 1460px; overflow: visible; }
	#wb_element_instance0 { left: 10px; top: 40px; min-width: 480px; width: 480px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 { left: 0px; top: 40px; min-width: 430px; width: 430px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 > div { width: 430px; height: 60px; }
	#wb_element_instance2 { left: 0px; top: 0px; min-width: 970px; width: 970px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance3 { left: 50px; top: -130px; min-width: 900px; width: 900px; min-height: 700px; height: 700px; display: block; }
	#wb_element_instance3 img { width: 900px; height: 700px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance4 { left: 0px; top: 400px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance4 > div { width: 350px; height: 130px; }
	#wb_element_instance5 { left: 320px; top: 400px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance5 > div { width: 350px; height: 130px; }
	#wb_element_instance6 { left: 670px; top: 400px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance6 > div { width: 320px; height: 130px; }
	#wb_element_instance7 { left: 430px; top: 440px; min-width: 290px; width: 290px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance8 { left: 720px; top: 440px; min-width: 230px; width: 230px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance9 { left: 670px; top: 530px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance9 > div { width: 320px; height: 130px; }
	#wb_element_instance10 { left: 670px; top: 660px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance10 > div { width: 320px; height: 130px; }
	#wb_element_instance11 { left: 670px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance11 > div { width: 320px; height: 130px; }
	#wb_element_instance12 { left: 670px; top: 920px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance12 > div { width: 320px; height: 130px; }
	#wb_element_instance13 { left: 680px; top: 670px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance13 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance14 { left: 820px; top: 710px; min-width: 150px; width: 150px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance15 { left: 670px; top: 660px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance15 .wb_button span { padding: 64px 0px 0px 0px; }
	#wb_element_instance15 .wb_button { width: 320px; height: 130px; }
	#wb_element_instance16 { left: 680px; top: 800px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance16 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 820px; top: 840px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance18 { left: 680px; top: 540px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance18 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance19 { left: 820px; top: 550px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance20 { left: 800px; top: 580px; min-width: 180px; width: 180px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance20 img { width: 180px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 670px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance21 .wb_button span { padding: 64px 0px 0px 0px; }
	#wb_element_instance21 .wb_button { width: 320px; height: 130px; }
	#wb_element_instance22 { left: 670px; top: 530px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance22 .wb_button span { padding: 64px 0px 0px 0px; }
	#wb_element_instance22 .wb_button { width: 320px; height: 130px; }
	#wb_element_instance23 { left: 670px; top: 930px; min-width: 320px; width: 320px; min-height: 110px; height: 110px; display: block; overflow: hidden; }
	#wb_element_instance23 img { width: 350px; height: 120px; display: block; position: relative; left: -20px; top: 0px; max-width: inherit; }
	#wb_element_instance24 { left: 320px; top: 530px; min-width: 350px; width: 350px; min-height: 520px; height: 520px; display: block; }
	#wb_element_instance25 { left: 10px; top: 410px; min-width: 280px; width: 280px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance25 img { width: 280px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { left: 0px; top: 530px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance26 > div { width: 350px; height: 130px; }
	#wb_element_instance27 { left: 0px; top: 660px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance27 > div { width: 350px; height: 130px; }
	#wb_element_instance28 { left: 0px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance28 > div { width: 320px; height: 130px; }
	#wb_element_instance29 { left: 0px; top: 920px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance29 > div { width: 320px; height: 130px; }
	#wb_element_instance30 { left: 10px; top: 930px; min-width: 310px; width: 310px; min-height: 96px; height: 96px; display: block; }
	#wb_element_instance31 { left: 190px; top: 920px; min-width: 130px; width: 130px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance31 img { width: 130px; height: 90px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance32 { left: 10px; top: 800px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance33 { left: 10px; top: 660px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance34 { left: 10px; top: 540px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance35 { left: 0px; top: 1050px; min-width: 990px; width: 990px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance35 > div { width: 990px; height: 110px; }
	#wb_element_instance36 { left: 10px; top: 1060px; min-width: 800px; width: 800px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance37 { left: 0px; top: 20px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance37 > div { width: 990px; height: 50px; }
	#wb_element_instance38 { left: 890px; top: 1140px; min-width: 100px; width: 100px; min-height: 20px; height: 20px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1280px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 992px; min-height: 1460px; }
	.root { width: 992px; height: 1460px; overflow: visible; }
	#wb_element_instance0 { left: 10px; top: 40px; min-width: 480px; width: 480px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 { left: 0px; top: 40px; min-width: 430px; width: 430px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 > div { width: 430px; height: 60px; }
	#wb_element_instance2 { left: 0px; top: 0px; min-width: 970px; width: 970px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance3 { left: 50px; top: -130px; min-width: 900px; width: 900px; min-height: 700px; height: 700px; display: block; }
	#wb_element_instance3 img { width: 900px; height: 700px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance4 { left: 0px; top: 400px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance4 > div { width: 350px; height: 130px; }
	#wb_element_instance5 { left: 320px; top: 400px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance5 > div { width: 350px; height: 130px; }
	#wb_element_instance6 { left: 670px; top: 400px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance6 > div { width: 320px; height: 130px; }
	#wb_element_instance7 { left: 430px; top: 440px; min-width: 290px; width: 290px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance8 { left: 720px; top: 440px; min-width: 230px; width: 230px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance9 { left: 670px; top: 530px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance9 > div { width: 320px; height: 130px; }
	#wb_element_instance10 { left: 670px; top: 660px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance10 > div { width: 320px; height: 130px; }
	#wb_element_instance11 { left: 670px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance11 > div { width: 320px; height: 130px; }
	#wb_element_instance12 { left: 670px; top: 920px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance12 > div { width: 320px; height: 130px; }
	#wb_element_instance13 { left: 680px; top: 670px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance13 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance14 { left: 820px; top: 710px; min-width: 150px; width: 150px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance15 { left: 670px; top: 660px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance15 .wb_button span { padding: 64px 0px 0px 0px; }
	#wb_element_instance15 .wb_button { width: 320px; height: 130px; }
	#wb_element_instance16 { left: 680px; top: 800px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance16 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 820px; top: 840px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance18 { left: 680px; top: 540px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance18 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance19 { left: 820px; top: 550px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance20 { left: 800px; top: 580px; min-width: 180px; width: 180px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance20 img { width: 180px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 670px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance21 .wb_button span { padding: 64px 0px 0px 0px; }
	#wb_element_instance21 .wb_button { width: 320px; height: 130px; }
	#wb_element_instance22 { left: 670px; top: 530px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance22 .wb_button span { padding: 64px 0px 0px 0px; }
	#wb_element_instance22 .wb_button { width: 320px; height: 130px; }
	#wb_element_instance23 { left: 670px; top: 930px; min-width: 320px; width: 320px; min-height: 110px; height: 110px; display: block; overflow: hidden; }
	#wb_element_instance23 img { width: 350px; height: 120px; display: block; position: relative; left: -20px; top: 0px; max-width: inherit; }
	#wb_element_instance24 { left: 320px; top: 530px; min-width: 350px; width: 350px; min-height: 520px; height: 520px; display: block; }
	#wb_element_instance25 { left: 10px; top: 410px; min-width: 280px; width: 280px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance25 img { width: 280px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { left: 0px; top: 530px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance26 > div { width: 350px; height: 130px; }
	#wb_element_instance27 { left: 0px; top: 660px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance27 > div { width: 350px; height: 130px; }
	#wb_element_instance28 { left: 0px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance28 > div { width: 320px; height: 130px; }
	#wb_element_instance29 { left: 0px; top: 920px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance29 > div { width: 320px; height: 130px; }
	#wb_element_instance30 { left: 10px; top: 930px; min-width: 310px; width: 310px; min-height: 96px; height: 96px; display: block; }
	#wb_element_instance31 { left: 190px; top: 920px; min-width: 130px; width: 130px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance31 img { width: 130px; height: 90px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance32 { left: 10px; top: 800px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance33 { left: 10px; top: 660px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance34 { left: 10px; top: 540px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance35 { left: 0px; top: 1050px; min-width: 990px; width: 990px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance35 > div { width: 990px; height: 110px; }
	#wb_element_instance36 { left: 10px; top: 1060px; min-width: 800px; width: 800px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance37 { left: 0px; top: 20px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance37 > div { width: 990px; height: 50px; }
	#wb_element_instance38 { left: 890px; top: 1140px; min-width: 100px; width: 100px; min-height: 20px; height: 20px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1280px; }
	#wb_footer { height: 80px; }
	body, .wb_sbg { min-width: 992px; min-height: 1460px; }
	.root { width: 992px; height: 1460px; overflow: visible; }
	#wb_element_instance0 { left: 10px; top: 40px; min-width: 480px; width: 480px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 { left: 0px; top: 40px; min-width: 430px; width: 430px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 > div { width: 430px; height: 60px; }
	#wb_element_instance2 { left: 0px; top: 0px; min-width: 970px; width: 970px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance3 { left: 50px; top: -130px; min-width: 900px; width: 900px; min-height: 700px; height: 700px; display: block; }
	#wb_element_instance3 img { width: 900px; height: 700px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance4 { left: 0px; top: 400px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance4 > div { width: 350px; height: 130px; }
	#wb_element_instance5 { left: 320px; top: 400px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance5 > div { width: 350px; height: 130px; }
	#wb_element_instance6 { left: 670px; top: 400px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance6 > div { width: 320px; height: 130px; }
	#wb_element_instance7 { left: 430px; top: 440px; min-width: 290px; width: 290px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance8 { left: 720px; top: 440px; min-width: 230px; width: 230px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance9 { left: 670px; top: 530px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance9 > div { width: 320px; height: 130px; }
	#wb_element_instance10 { left: 670px; top: 660px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance10 > div { width: 320px; height: 130px; }
	#wb_element_instance11 { left: 670px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance11 > div { width: 320px; height: 130px; }
	#wb_element_instance12 { left: 670px; top: 920px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance12 > div { width: 320px; height: 130px; }
	#wb_element_instance13 { left: 680px; top: 670px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance13 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance14 { left: 820px; top: 710px; min-width: 150px; width: 150px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance15 { left: 670px; top: 660px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance15 .wb_button span { padding: 64px 0px 0px 0px; }
	#wb_element_instance15 .wb_button { width: 320px; height: 130px; }
	#wb_element_instance16 { left: 680px; top: 800px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance16 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 820px; top: 840px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance18 { left: 680px; top: 540px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance18 img { width: 110px; height: 110px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance19 { left: 820px; top: 550px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance20 { left: 800px; top: 580px; min-width: 180px; width: 180px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance20 img { width: 180px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 670px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance21 .wb_button span { padding: 64px 0px 0px 0px; }
	#wb_element_instance21 .wb_button { width: 320px; height: 130px; }
	#wb_element_instance22 { left: 670px; top: 530px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance22 .wb_button span { padding: 64px 0px 0px 0px; }
	#wb_element_instance22 .wb_button { width: 320px; height: 130px; }
	#wb_element_instance23 { left: 670px; top: 930px; min-width: 320px; width: 320px; min-height: 110px; height: 110px; display: block; overflow: hidden; }
	#wb_element_instance23 img { width: 350px; height: 120px; display: block; position: relative; left: -20px; top: 0px; max-width: inherit; }
	#wb_element_instance24 { left: 320px; top: 530px; min-width: 350px; width: 350px; min-height: 520px; height: 520px; display: block; }
	#wb_element_instance25 { left: 10px; top: 410px; min-width: 280px; width: 280px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance25 img { width: 280px; height: 100px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { left: 0px; top: 530px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance26 > div { width: 350px; height: 130px; }
	#wb_element_instance27 { left: 0px; top: 660px; min-width: 350px; width: 350px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance27 > div { width: 350px; height: 130px; }
	#wb_element_instance28 { left: 0px; top: 790px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance28 > div { width: 320px; height: 130px; }
	#wb_element_instance29 { left: 0px; top: 920px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; }
	#wb_element_instance29 > div { width: 320px; height: 130px; }
	#wb_element_instance30 { left: 10px; top: 930px; min-width: 310px; width: 310px; min-height: 96px; height: 96px; display: block; }
	#wb_element_instance31 { left: 190px; top: 920px; min-width: 130px; width: 130px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance31 img { width: 130px; height: 90px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance32 { left: 10px; top: 800px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance33 { left: 10px; top: 660px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance34 { left: 10px; top: 540px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance35 { left: 0px; top: 1050px; min-width: 990px; width: 990px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance35 > div { width: 990px; height: 110px; }
	#wb_element_instance36 { left: 10px; top: 1060px; min-width: 800px; width: 800px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance37 { left: 0px; top: 20px; min-width: 990px; width: 990px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance37 > div { width: 990px; height: 50px; }
	#wb_element_instance38 { left: 890px; top: 1140px; min-width: 100px; width: 100px; min-height: 20px; height: 20px; display: block; }
}
